{% extends "base.html" %}

{% block content %}
 <nav class="navbar navbar-expand-lg navbar-dark" style="background-color: #415A77">
    <a class="navbar-brand" href="dashboard.html">Rice Media Manager |</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="margin-left:0px">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Dashboard <span class="sr-only">(current)</span></a>
        </li>
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <a href="index.html"><button type="button" class="btn btn-light btn-sm " style="margin-right:24px"><i class="fas fa-user"></i> Account</button></a>
        <a href="index.html"><button type="button" class="btn btn-danger btn-sm "><i class="fas fa-sign-out-alt"></i> Sign Out</button>
		</a>
	</form>
    </div>
 </nav>

 <div class="container" style="margin-top:48px">
  <div class="row">

    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Manage Dateline  <span class="badge badge-danger">4</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Manage and organize articles</h5>
          <p class="card-text">Curate proposed atricles, add new articles, and organize Dateline Rice</p>
          <a href="dateline.html" class="btn btn-primary">Go There</a>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          View Database
        </div>
        <div class="card-body">
          <h5 class="card-title">View and edit database</h5>
          <p class="card-text">Make queries and add, edit, or delete existing entries</p>
          <a href="#" class="btn btn-primary">Go There</a>
        </div>

      </div>
    </div>
    <div class="col-md-4">
      <div class="card text-center">
        <div class="card-header">
          Cofiguration Panel
        </div>
        <div class="card-body">
          <h5 class="card-title">Configure custom settings</h5>
          <p class="card-text">Adjust search parameters, manage user profiles, and set preferences.</p>
          <a href="#" class="btn btn-primary">Go There</a>
        </div>

      </div>
    </div>
  </div>
</div>
{% endblock %}